<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Switch 2 Game Compatibility Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.2/datatables.min.css" rel="stylesheet"
        integrity="sha384-oy6ZmHnH9nTuDaccEOUPX5BSJbGKwDpz3u3XiFJBdNXDpAAZh28v/4zfMCU7o63p" crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Switch 2 Game Compatibility Tracker</h1>
            <p class="lead">
                Last updated at: {{ time_updated }} UTC
            </p>
            <p>This site tracks the compatibility of Switch 1 games with the Switch 2, using information on the Switch
                eshop.
                Meant to be
                an up-to-date version of the PDFs on this page: <a
                    href="https://www.nintendo.com/us/gaming-systems/switch-2/transfer-guide/compatible-games/">
                    https://www.nintendo.com/us/gaming-systems/switch-2/transfer-guide/compatible-games</a>.
                Unaffiliated
                with
                Nintendo.
            </p>
            <p>
                This webpage updates itself daily at 4am and 4pm UTC.
            </p>
            <p>
                <small>Thanks to <a href=https://github.com/joshcampbell191>joshcampbell191</a> for making the page look
                    nicer!</small>
            </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Publisher</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td>
                            {% if not game.status == "404" %}
                            <a href="{{ game.url }}" target="_blank">{{ game.title }}</a>
                            {% else %}
                            {{ game.title }}
                            {% endif %}
                        </td>
                        <td>{{ game.publisher }}</td>
                        <td>{% if game.status == "404" %}&#10067 Information unavailable on eShop.
                            {% elif game.status == "PLAYABLE" %}&#9989 {{ game.caption }}
                            {% elif game.status == "NOT_PLAYABLE" %}&#10060 {{ game.caption }}
                            {% endif %}</td>
                        <td>{% if game.details %}{% for detail in game.details %}{{ detail }}<br>{% endfor %}{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Marcus Williamson</span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-body-secondary" href="https://github.com/MarcusWilliamson/Switch2CompatTracker"
                        aria-label="GitHub">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-github" width="24" height="24"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                        </svg>
                    </a>
                </li>
            </ul>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.2/datatables.min.js"
        integrity="sha384-F5wD4YVHPFcdPbOt91vfXz6ZUTjeWsy4mJlvR4duPvlQdnq704Bh6DxV1BJy3gA2"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        (function () {
            new DataTable('.table');
        })();
    </script>
</body>

</html>